.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d5d2d271;
  /* background-color: var(--color-header-background); */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  /* color: #333; */
  color: var(--color-logo)
}

.navContainer {
  display: flex;
  gap: 20px;
  color: var(--color-navLink)
}

.navLink {
  text-decoration: none;
  /* color: #333; */
  color: var(--color-navLink)
  /* transition: color 0.3s; */
}

.navLink:hover {
  color: #0070f3;
  /* color: var(--color-navLinkHover) */
}